html, body {
    margin: 0;
    padding: 0;
}

.color-container {
    display: flex;
    justify-content: space-around
}

.color-container > div {
    height: auto;
    width: auto;
    border: 8px solid rgb(153, 153, 153);
}

div#blue {
    background-color: blue;
    color:white;
}

div#red {
    background-color: red;
    color:white;
}

div#yellow {
    background-color: yellow;
    color:black;
}

div#green {
    background-color: green;
    color; white;
}

div#orange {
    background-color: orange;
    color:black;
}

#o {
    background-color: orange;
}

